<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mondelez International</title>
  <link rel="stylesheet" href="../Styles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap"
      rel="stylesheet">
  <meta http_equiv="charset" name="charset" content="utf-8">

  <meta name="description" content="Loteria del Sabor">
  <meta property="og:author" content="WeSoda <info@wesoda.com>" />

  <meta name="keywords" content="Technology, Business, Sales, Startups, Enterprises">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KVG7VDJFK0"></script>
  <script>window.dataLayer = window.dataLayer || [];

      function gtag() { dataLayer.push(arguments) };

      gtag('js', new Date());

      gtag('config', 'G-KVG7VDJFK0');</script>

  <meta name="fb:app_id" content="103189435175138">

  <meta name="og:url" content="https://www.loteriadelsabor.com">

  <meta name="og:site_name" content="Loteria del Sabor">

  <meta name="og:type" content="website">

  <meta name="og:title" content="Loteria del Sabor">

  <meta name="og:description" content="Loteria del Sabor">

  <meta name="og:image" content="../img/logo-mondelez-png-mondelez-logo-800">

  <meta name="og:image:type" content="image/png">

  <meta name="og:image:width" content="200">

  <meta name="og:image:height" content="202">
  <meta name="twitter:image" content="/assets/imgs/logo-mondelez-png-mondelez-logo-800.png">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
          <img src="../img/logo-mondelez-png-mondelez-logo-800.png" alt="">
        </div>
  
            <ul>
              <li><a href="../index.html">Inicio</a></li>
              <li><a href="mechanicsOfTheGame.html">Como Participar</a></li>
              <li><a href="awards.html">Premios</a></li>
              <li><a href="winners.html">Ganadores</a></li>
              <li><a href="participatingProducts.html">Productos Participantes</a></li>
              <li><a href="about.html">T&C</a></li>
              </ul>
  <div class="menu-bars" id="toggle">
    <input type="checkbox">
  <span></span>
  <span></span>
  <span></span>
  </div>
  </nav>
   <!--Cuerpo de la pagina__________________________-->
   <div class="container4">

  
<h1 id="aboutTitulo">TÉRMINOS Y CONDICIONES / PROMOCIÓN</h1>
<p id="aboutParrafo2">MONDELEZ ECUADOR C. LTDA. (en adelante MDLZ), representada por el señor Carlos Andres Silva Herrera, en su calidad de Sr. Manager Sales & Site Lead Ecuador, promueve y organiza la actividad promocional “LOTERÍA DEL SABOR” (en adelante la “PROMOCIÓN”) con los productos detallados a continuación (en adelante “LOS PRODUCTOS”):
  Quedan excluidos todos los demás productos de Mondelez.
  </p>
  <table>
    <!--Aqui faltaria la tabla-->
  </table>
  <h1 id="aboutTitulo">1. VIGENCIA DE LA PROMOCIÓN</h1>
<p id="aboutParrafo2"> •Esta promoción estará vigente desde las 00:01 AM del 21 de junio de 2021 hasta las 11:59 PM del 16 de agosto de 2021. No se aceptará ingresar números de lote de los empaques después de la hora y fechas aquí establecidas.
  •Las fechas de inicio y terminación de la PROMOCIÓN podrán ser modificadas por MDLZ, de así considerarlo conveniente, lo cual será informado oportunamente a los participantes.
  •Los usuarios pueden participar las 24 horas del día desde el día de inicio de la actividad, hasta las 11:59 PM del día de finalización de ésta (11:59 PM del día 15 de agosto de 2021).
  •Condiciones y restricciones: Concurso válido para personas mayores de 12 años a nivel nacional. El usuario acepta y entiende que la legislación aplicable para estas condiciones y restricciones es la ley ecuatoriana vigente.
  
</p>
  <h1 id="aboutTitulo">2. ALCANCES DE LA PROMOCIÓN</h1>
<p id="aboutParrafo2">Objetivo y Mecánica de la Promoción:
  Las personas interesadas en participar en esta promoción obligatoriamente deberán cumplir con la mecánica detallada a continuación: <br>
  •Paso 1: Comprar los productos participantes.<br>
  •Paso 2: Enviar un mensaje al número de Whatsapp (0993300001):  indicando que se desea participar con el hashtag #loteriadelsabor.<br>
  •Paso 3: Indicar el producto participante el cual se ha comprado, y colocar el numero correspondiente del mismo.<br>
  •Paso 4: Ingresar los datos personales, según lo solicitado en el mensaje. (Los datos personales solo serán solicitados una única vez).<br>
  •Paso 5: Indicar el número de lote del producto participante, como en el mensaje de ejemplo.<br>
  •Paso 6: El participante debe enviar una foto del empaque del producto abierto para confirmar su participación.<br>
  •Paso 7: Una vez realizados los pasos del 1 al 6, el usuario quedará registrado para participar en la promoción <br>
  •Paso 8: Al cumplir con lo establecido los pasos anteriores, los participantes podrán ganar mediante esta mecánica y medio, premios secundarios semanales y, asimismo, una opción para participar en el sorteo por el premio principal. <br> <br> <br>
  Los participantes deben:
1 • Comprar productos de la marca OREO, CLUB SOCIAL, RITZ, CHIPS AHOY!, HALLS, TRIDENT, GELATINAS ROYAL Y POSTRES ROYAL en sus respectivas referencias (Tabla 1). Cada empaque mencionado tendrá un número de lote con el que el usuario puede participar de la promoción.
2 • El participante debe conservar los empaques de los productos (empaque abierto) en donde conste el Lote, con el que ingresó a participar, y mantenerlos en buen estado en el que se puedan verificar los números. No se aceptan enmendaduras ni alteraciones a los números. Mondelez se reserva el derecho de verificar a libre discreción los números de lote con los que los concursantes participan para entregar el premio. <br> <br>
a) Participantes de la Promoción:
1 • Podrán participar en esta promoción, las personas ecuatorianas mayores de doce (12) años y extranjeros que residan en el territorio ecuatoriano.
2 • No pueden participar y no son elegibles como ganadores: (i) empleados de las agencias colaboradoras de marketing de MDLZ; (ii) empleados directos de MDLZ; y, (iii) los familiares directos, en segundo grado de consanguinidad y en segundo grado de afinidad y unión civil de aquellas personas detalladas en los puntos (i) y (ii).
3 • El participante estará sujeto a un número máximo de 50 códigos por día, independientemente de la marca y presentación de los productos participantes, delimitando un límite de códigos que el participante los puede ingresar dentro de un mismo día, contemplado desde las 00:01 AM hasta las 11:59 PM
4 • El participante solo podrá ingresar una única vez el número de lote correspondiente al producto en específico con el que desea participar, los códigos repetidos no contarán como una nueva participación, y según corresponda el caso, MDLZ podrá invalidar la participación del individuo del sorteo.
5 • El ganador de un premio secundario (aleatorio) sí podrá ganar otros premios secundarios, así como también podrá participar el premio principal.
6 • Una vez que se ponga en contacto por Whatsapp por primera vez, el usuario podrá identificarse con los datos personales proporcionados y número celular con el que se ha comunicado.
7 • Cualquier tipo de fraude, o de intento de este, al igual que cualquier incumplimiento de los términos y condiciones aquí descritos, dará lugar a que el participante sea descalificado de la actividad, sin posibilidad de poder reingresar a ésta. La compañía podrá verificar el fraude, el intento de fraude, o el incumplimiento, por cualquier medio que considere pertinente.
8 • Los participantes deberán utilizar su habilidad humana y en caso de valerse de medios tecnológicos u otros ajenos a los humanos, el Organizador se reserva el derecho de descalificarlos o excluirlos de la Promoción.


  </p>
  <h1 id="aboutTitulo">3. PREMIOS Y SU ENTREGA</h1>
<p id="aboutParrafo2">   Los premios a entregarse en esta promoción son los siguiente:
  Premio principal: 
  El premio será por 50.000 USD para utilizar como el ganador desee. Esta suma estará sujeta a impuestos detallados a continuación por lo que será entregada en 42 gift cards de USD 1.000 cada una y una gift card de USD 500, al participante que resulte ganador del sorteo que se realizará el día 16 de agosto. La entrega del premio se realizará a los 30 días hábiles posteriores a la notificación al ganador. Mondelez no se hace responsable por el uso que el ganador le dé a los premios.
  La entrega del valor total del premio estará sujeta a los impuestos estipulados en la ley en donde se contempla que los beneficiarios de loterías, rifas y similares están obligados al pago de un impuesto a la renta único del 15% sobre el valor del premio recibido -en dinero o en especie-, cuando éste sobrepase una fracción básica desgravada (FBD) de impuesto a la renta. Los organizadores de estas loterías, rifas y similares están obligados a retener la totalidad del impuesto. 
  En caso de que el ganador sea un menor de edad entre los 12 y 17 años el premio será entregado a uno de sus padres o quien ejerza la patria potestad quienes deberán entregar fotocopia de la cédula que fue enviada por Whatsapp. En caso de encontrarse que el menor de edad entre los 12 y 17 años no contaba con la correspondiente autorización para participar, el premio no será entregado.
  </p>
  <table>
    <!--Aqui faltaria la tabla-->
  </table>
  <p id="aboutParrafo2"> Entrega de los premios:
    - Premio principal por 50.000 USD para utilizar como el ganador desee. Esta suma será entregada en 42 Gift Cards de 1.000 USD cada una y una gift card de 500 USD. El posible ganador debe entregar la totalidad de los empaques abiertos utilizados para enviar las fotos por Whastapp, y la cantidad de estos debe corresponder a la cantidad de inscripciones realizadas por el usuario a lo largo de toda la actividad (21 de junio de 2021 hasta el 165 de agosto de 2021).
    - LA ORGANIZADORA procederá a contactarse con cada uno de los posibles ganadores, a través de llamada telefónica al número que indicaron en el momento de inscripción a más tardar a las 48 horas después del sorteo durante las 8 semanas de la actividad. En esta llamada se estarán confirmando los datos para el envío del premio (principal o secundarios).
    - Los premios (principal o secundarios) serán entregados por el proveedor escogido por LA ORGANIZADORA, quien, efectuará una entrega personalizada después de haber acordado una cita con el posible ganador por teléfono, dentro de los 30 días hábiles posteriores a la recepción de la llamada que le indicó la forma de entrega del premio y en donde el ganador deberá suscribir un acta notarial de recepción del premio.  Los ganadores serán contactados por el proveedor escogido por la organizadora para coordinar la entrega de los premios. En caso de que el ganador no responda dentro de las siguientes 48horas del contacto realizado por MDLZ o la agencia encargada del sorteo, se lo considerará desistido y se procederá con el proceso detallado con anterioridad. La agencia encargada de la entrega de los premios, los estará entregando dentro de un plazo establecido de 30 días máximos por efectos de logística y manejo de tiempos. 
    - La visita se efectuará a la dirección confirmada por el posible ganador en el momento de la llamada. Al recibir el premio el posible ganador deberá entregar copia de su documento de identidad y el de su acudiente en caso de estar entre los 12 y 17 años y los empaques que le permitieron ingresar al sorteo.
    - Los ganadores serán contactados vía telefónica o whatsapp dentro del plazo de 48 horas, a efectos de coordinar la entrega del permio que les corresponda. En caso de no lograrse la primera comunicación con el ganador, se procederá a comunicarse dos veces más vía telefónica o whatsapp y posteriormente al envió de un correo electrónico comunicando a el ganador. El posible ganador será declarado ganador solo si se ha confirmado el contacto con el mismo, caso contrario no podrá ser anunciado como ganador.
    En el caso de haber desistido el premio del primer ganador (tanto del premio principal como secundarios), se procederá a contactar con el primer alterno ganador de la promoción, sujeto al mismo proceso antes estipulado. En caso de no haber respuesta por parte del primer alterno se procederá con el segundo alterno ganador, sujeto al mismo proceso de contacto.
    - El acta de recibo firmada por el ganador será tenida como comprobante de la entrega de los premios (principal o secundarios). Igualmente, en caso de que el presunto ganador no cumpla con las condiciones para la entrega del premio, se emitirá el acta de no entrega correspondiente en el que se especificará a detalle la razón por la cual no se entregó el premio, dicha acta deberá ser firmada e igualmente será comprobante del proceso.
    - MDLZ no es fabricante ni distribuidor de los premios, por lo que no otorga ninguna garantía, expresa o tácita, respecto de dichos productos, la cual correrá a cargo del respectivo fabricante, proveedor o distribuidor. <br> <br>
    Requisitos para la entrega de los premios secundarios y Principal:
Para la entrega de ambos premios, se verificará que se dé cumplimiento a cada uno de los requisitos establecidos en el presente documento de términos y condiciones y el ganador debe hacer entrega de lo siguiente:
•Premio Principal: entregar la totalidad de los empaques abiertos utilizados para las fotos por Whatsapp, y la cantidad de estos deben corresponder a la cantidad de inscripciones realizadas por el usuario a lo largo de toda la actividad (21 de junio de 2021 hasta el 165 de agosto de 2021).
•Premios Secundarios: Hacer entrega del empaque abierto en el que figure el lote de la foto enviada por Whatsapp para participar.
•Mostrar el documento original de identidad con el que ingreso a participar en la plataforma.
•Entregar copia del documento de identidad que debe coincidir con el documento registrado al momento de enviar el mensaje para participar vía Whatsapp.
•En caso de los menores de edad (entre los 12 y los 17 años), deben hacer entrega de la autorización escrita de los padres o acudientes para la participación y aceptación del premio. <br> <br>
El sistema realizará cortes semanales para los premios secundarios como se muestra a continuación:
Sorteo Premios semanales: Se tomarán los participantes que envíen sus datos y Lote desde las 00:00 horas del lunes hasta las 11:59 p.m. del domingo de cada semana, para realizar el sorteo al día siguiente, como se especifica en el anexo 1.
  </p>

<table>



</table>

  <p id="aboutParrafo2"> Sorteo Premio Principal: Se tomarán los participantes que envíen sus datos y Lote durante toda la actividad del 00:00 AM 21 de junio de 2021 hasta las 11:59 PM el 16 de agosto de 2021.
    Los ganadores serán notificados por medio de una llamada telefónica o whatsapp al número de indicado en el momento de la inscripción a más tardar a las 48 horas después de dicho corte.
    Una vez entregado el premio, no habrá ningún lugar a reclamo a MLDZ, ni de terceros que presten sus servicios a MLDZ. Las agencias y MDLZ no serán responsables por cualquier embargo o impedimento que pese sobre la persona ganadora.
    Proceso de selección de códigos ganadores:
    Los códigos ganadores, serán seleccionados de manera digital y aleatoria mediante un sistema programado, quien, por orden de entrada del mensaje, seleccionará al mensaje ganador, siempre y cuando la persona que lo ingresó haya cumplido con los requisitos previamente establecidos.
    
  </p>

  <h1 id="aboutTitulo">4. VALIDEZ DE LOS CÓDIGOS Y/O EMPAQUES</h1>
<p id="aboutParrafo2">Solamente podrán participar aquellos consumidores que presenten empaques abiertos de los productos válidos. MDLZ se reserva el derecho de impedir la participación de consumidores que presenten empaques adulterados de cualquier forma.
  Cualquier modificación o daño producido en los empaques abiertos, los invalidará para participar en la promoción, aun cuando se trate de empaques legítimos, si ello impide determinar la legitimidad del código.
  MDLZ se reserva el derecho de iniciar las acciones legales correspondientes contra quienes pretendan participar en la promoción utilizando estuches o códigos adulterados o falsificados de cualquier forma o por cualquier método.  
  </p>
  <h1 id="aboutTitulo">5. ASPECTOS LEGALES ADICIONALES  </h1>
<p id="aboutParrafo2">Sólo podrán participar personas mayores de doce (12) años, residentes en el territorio ecuatoriano. Cada participante asume la responsabilidad por la veracidad de la información que registre de acuerdo con lo solicitado por la web de manera previa al ingreso de los códigos.
  En caso de que MDLZ o cualquiera de los miembros de la agencia de contenidos identifique fraude, sospechas fundadas de que se está cometiendo un acto ilícito o contrario a la ley o la moral, mal comportamiento o textos, así como imágenes hirientes o subidos de tono por parte de alguno de los participantes, MDLZ está en el derecho de descalificar, suspender/bloquear de manera temporal o definitiva al usuario involucrado y no entregarle el premio al cual se hizo acreedor. Cualquier infracción a las reglas descritas, dará lugar a la descalificación inmediata. Lo anterior, sin perjuicio de las acciones legales a que tengan derecho MDLZ para la reparación de los daños y perjuicios ocasionados a los mismos.
  El participante se compromete a hacer un uso adecuado y lícito de todos los contenidos de La Campaña, de conformidad con la legislación aplicable, los presentes términos y condiciones, la moral y buenas costumbres generalmente aceptadas y el orden público. El usuario deberá abstenerse, entre otras actuaciones de: a) Hacer un uso no autorizado o fraudulento de los contenidos. b) Intentar acceder, utilizar y/o manipular los datos. c) Reproducir o copiar, distribuir, permitir el acceso del público a través de cualquier modalidad de comunicación pública, transformar o modificar los contenidos, a menos que se cuente con la autorización expresa y previa del titular de los correspondientes derechos o ello resulte legalmente permitido.
  Los premios no serán reembolsables, ni canjeables por ningún motivo y serán redimibles únicamente por quien sea notificado como ganador. Tampoco son transferibles. En caso, el ganador no reclame el premio dentro del plazo establecido y después del proceso previamente mencionado, perderá el premio. En dicho supuesto, el premio podrá ser adjudicado al participante que quedó como (primer o segundo) suplente en el orden de prelación del sorteo.
  El premio es de entrega personal y se verificará sobre los datos reales consignados en el documento identificación personal.
  Las personas que resulten ganadoras de alguno de los premios de la promoción comercial “LOTERÍA DEL SABOR”; autorizan a MDLZ a que publiquen la siguiente información: Nombre, N° Cedula de Identidad, y premio que se otorgó, en cualquier medio de comunicación.
  Los usuarios del sitio web www.loteriadelsabor.com y la plataforma de Whatsapp, aceptan que el uso, es realizado bajo su única y exclusiva responsabilidad, las condiciones legales que regulan el uso o la Política de Privacidad del sitio web www.loteriadelsabor.com y Whatsapp son aceptadas expresa y plenamente por el mero hecho de acceder al sitio y/o utilizar sus servicios y contenidos. Por ello, es su responsabilidad acceder a las condiciones legales que regulen el uso y la privacidad del sitio de forma periódica para conocer las sucesivas versiones que se publiquen, aunque recomendamos: (i) que visiten las mismas cada vez que pretendan acceder o utilizar los servicios y contenidos del sitio; y, (ii) que impriman o almacenen en su sistema una copia de dichas condiciones.
  Además, les informamos de que estas condiciones serán de aplicación subsidiaria a cualesquiera otras que sobre la misma materia se establezcan con carácter especial y así lo pongamos en su conocimiento, por ejemplo, a través de formularios de registro, bases reguladoras de concursos o promociones y/o condiciones de los servicios particulares, quedando las presentes políticas como complementarias de las anteriores en aquello que no se contradiga.
  Con carácter general los servicios y contenidos que se ofrecen a través del sitio web www.loteriadelsabor.com y Whatsapp estarán disponibles en idioma español.
  El sitio web www.loteriadelsabor.com, permite a los usuarios ver información acerca de la campaña promocional de las marcas Oreo, Halls, Royal, Ritz, Trident, Club Social y Chips Ahoy, así como interactuar con diversos contenidos, ofrecidos por las marcas o por otros proveedores y/o colaboradores, en las condiciones que se determinen para cada caso.
  Al momento de registrarse, cada participante autoriza a que sus datos personales que vayan a ser registrados sean incluidos en la base de datos de MDLZ y puedan ser tratados para la gestión, manejo y administración de la promoción comercial “LOTERÍA DEL SABOR”; así como cualquier otra actividad vinculada con la referida promoción comercial y fines estadísticos. Cada participante autoriza a MDLZ a transferir, nacional o internacional, sus datos personales a empresas vinculadas o afiliadas a MDLZ o terceros para finalidades idénticas a las antes indicadas. De no proporcionar esta autorización, MLDZ no podrá realizar las actividades descritas precedentemente. Cada participante podrá revocar su consentimiento o ejercer los derechos de acceso, rectificación u oposición remitiendo una comunicación a la siguiente dirección electrónica: consumidores.ec@mdlz.com.
  Este sitio incluye enlaces a otros sitios web, algunos de ellos manejados por compañías del grupo MLDZ, otros operados por terceros. Se proporcionan estos enlaces como una ayuda conveniente para el usuario y como una vía de acceso a la información allí contenida. No hemos revisado la información de los demás sitios web y no somos responsables por el contenido de cualquier otro sitio o cualquier producto o servicio que pueda ser ofrecido en otros sitios. Los sitios web de terceros pueden contener información con la cual MDLZ, no se encuentra de acuerdo. La inclusión de enlaces a otros sitios web no debe considerarse como un respaldo o aprobación del contenido de los sitios de enlace. Pueden aplicarse diferentes términos y condiciones al uso por su parte de cualquier sitio de enlace. Debe notarse que los términos y condiciones para el uso de los otros sitios del grupo Mondelez International pueden ser substancialmente diferentes a los presentes términos y condiciones.
  Este sitio contiene logos y otras marcas registradas y marcas de las cuales diversas afiliadas de MLDZ, son propietarias o tienen la licencia. Este sitio también puede incluir marcas registradas o marcas de terceros. Todas estas marcas registradas son propiedad de sus respectivos propietarios y el usuario se obliga expresamente a no utilizarlas o mostrarlas en forma alguna sin el previo permiso por escrito del correspondiente propietario de la marca.
  Los presentes términos y condiciones regulan la campaña “LOTERÍA DEL SABOR”. Participar implica, sin excepción, la aceptación de todos y cada uno de los términos y condiciones. Excepcionalmente, y por motivos debidamente justificados, MDLZ se reserva el derecho de modificar en cualquier momento los presentes términos y condiciones, reglamentos de uso, instrucciones, avisos que resulten de La Campaña u otros. Asimismo, MDLZ se reserva el derecho de suspender, interrumpir o dejar de operar La Campaña en cualquier momento, lo que comunicará oportunamente a los participantes según el medio que crea conveniente. En caso de existir dudas o discrepancias en la interpretación de los presentes términos y condiciones, prevalecerá el criterio de MDLZ. Los términos y condiciones estarán a disposición de cualquier interesado en la página web www.loteriadelsabor.comla cual será netamente informativa.</p>
  <h1 id="aboutTitulo">6. AUTORIZACIÓN ESPECIAL</h1>
<p id="aboutParrafo2">Los participantes y/o ganadores autorizan a MDLZ, a sus filiales y/o subsidiarias, a utilizar, sus nombres, datos de identificación e imagen a través de cualquier medio de comunicación colectiva, nacional o extranjero, durante o después de la promoción, con fines publicitarios e informativos, sin derecho a compensación alguna.
  En el caso de que los ganadores sean menores de edad, para poder reclamar el premio deberán presentar una autorización emitida por sus padres o quien ejerza la patria potestad a través de la cual autorizan a MDLZ, a sus filiales y/o subsidiarias, a utilizar, sus nombres, datos de identificación e imagen a través de cualquier medio de comunicación colectiva, nacional o extranjero, durante o después de la promoción, con fines publicitarios e informativos, sin derecho a compensación alguna.
  
  </p>
  <h1 id="aboutTitulo">7. ASPECTOS RELEVANTES SOBRE EL SITIO WEB</h1>
<p id="aboutParrafo2">7. ASPECTOS RELEVANTES SOBRE EL SITIO WEB 
  En cualquier momento, de manera unilateral y sin previo aviso a los usuarios y participantes de la promoción, MLDZ podrá:
  - Modificar las condiciones de acceso al sitio web www.loteriadelsabor.com y en la plataforma Whatsapp, así como sus contenidos y/o servicios, sin perjuicio de lo dispuesto en las condiciones particulares que regulen el uso de un determinado servicio y/o contenido.
  - Establecer condiciones particulares y, en su caso, la exigencia de información u otros requisitos para el acceso a determinados servicios y/o contenidos del sitio web www.loteriadelsabor.com o de la plataforma Whatsapp.
  - Limitar, excluir o condicionar el acceso de los usuarios cuando no se den todas las garantías de utilización correcta del sitio web www.loteriadelsabor.com o de la plataforma Whatsapp por los mismos conforme a las obligaciones y prohibiciones asumidas por los mismos.
  - Finalizar la prestación de un servicio o suministro de un contenido, sin derecho a indemnización, cuando su utilización por los usuarios devenga ilícito o contrario a lo establecido en las condiciones que lo regulan.
  - Emprender cualquier acción legal o judicial que resulte conveniente para la protección de los derechos de MLDZ como de terceros que presten sus servicios o contenidos a través del sitio web www.loteriadelsabor.com o de la plataforma Whatsapp siempre que resulte procedente.
  - Exigir la indemnización que pudiera derivar por el uso indebido o ilícito de todo o parte de los servicios y contenidos prestados a través del sitio web www.loteriadelsabor.com o de la plataforma Whatsapp.
  - MLDZ queda exento de cualquier tipo de responsabilidad por daños y perjuicios de toda naturaleza en los siguientes casos: (i) por la imposibilidad o dificultades de conexión a la red de comunicaciones a través de la que resulta accesible a la plataforma Whatsapp, independientemente de la clase de conexión que el usuario utilice; (ii) por la interrupción, suspensión o cancelación del acceso a la plataforma Whatsapp, así como por disponibilidad y continuidad del funcionamiento del mismo sus servicios y/o contenidos, cuando ello se deba a la interrupción por servicios de mantenimiento técnico o a una causa ajena al ámbito de control de MDLZ, ya provenga directa o indirectamente de ésta.
  - MLDZ no asume ninguna responsabilidad respecto de los servicios y contenidos, ni por la disponibilidad y condiciones, técnicas o no, de acceso a los mismos, que sean ofrecidos por terceros prestadores de servicios, en especial respecto de los prestadores de servicios de la sociedad de la información. Por prestadores de servicios de la sociedad.
  
  </p>
  <h1 id="aboutTitulo">8. CONTROVERSIAS</h1>
<p id="aboutParrafo2">De presentarse reclamaciones o diferencias, las partes tratarán de llegar a un acuerdo directo que constará por escrito, de no ser posible cualquier diferencia que pudiere surgir entre MDLZ y los participantes en esta actividad se someterá al procedimiento de mediación y arbitraje señalado a continuación.
  El consumidor o participante y MDLZ convienen irrevocablemente que, en caso de surgir diferencias entre ellas, por razón o con ocasión de la actividad antes detallada, realizarán los mejores esfuerzos para buscar y encontrar una solución mutuamente aceptable. Sin embargo, cualquiera de las partes podrá requerir directamente a la otra someter las diferencias al proceso de mediación en el Centro de Mediación de la Cámara de Comercio de Quito, según lo determinado en el Título II de la Ley de Arbitraje y Mediación. La mediación no podrá demorar más de diez días.
  Si luego de la mediación subsistieren diferencias, éstas serán resueltas por arbitraje administrado de los jueces árbitros de la Cámara de Comercio de Quito. El arbitraje será en derecho. Las partes se obligan a acatar el laudo que expida sin que puedan interponer respecto a él, recurso o reclamación alguna.
  
  </p>
</div>
  

    <!--Cuerpo de la pagina__________________________-->

    <!--Footer____inicio______________________-->

    <footer>
      <H3>Terminos y Condiciones</H3>
      <h4>Todos los derechos reservados. <br>Mondelez Ecuador 2021</h4>
  </footer>
  

  <!--Footer_________cierre_________________-->
<script src="../js/navbar.js"></script>

    
</body>

</html>