<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mondelez International</title>
  <link rel="stylesheet" href="../Styles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap"
    rel="stylesheet">
  <meta http_equiv="charset" name="charset" content="utf-8">

  <meta name="description" content="Loteria del Sabor">
  <meta property="og:author" content="WeSoda <info@wesoda.com>" />

  <meta name="keywords" content="Technology, Business, Sales, Startups, Enterprises">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KVG7VDJFK0"></script>
  <script>window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments) };

    gtag('js', new Date());

    gtag('config', 'G-KVG7VDJFK0');</script>

  <meta name="fb:app_id" content="103189435175138">

  <meta name="og:url" content="https://www.loteriadelsabor.com">

  <meta name="og:site_name" content="Loteria del Sabor">

  <meta name="og:type" content="website">

  <meta name="og:title" content="Loteria del Sabor">

  <meta name="og:description" content="Loteria del Sabor">

  <meta name="og:image" content="../img/logo-mondelez-png-mondelez-logo-800">

  <meta name="og:image:type" content="image/png">

  <meta name="og:image:width" content="200">

  <meta name="og:image:height" content="202">
  <meta name="twitter:image" content="/assets/imgs/logo-mondelez-png-mondelez-logo-800.png">
</head>

<body>
  <nav class="navbar">

    <div class="logo">
      <img src="../img/logo-mondelez-png-mondelez-logo-800.png" alt="">
    </div>


    <ul>
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="mechanicsOfTheGame.html">Como Participar</a></li>
      <li><a href="awards.html">Premios</a></li>
      <li><a href="winners.html">Ganadores</a></li>
      <li><a href="participatingProducts.html">Productos Participantes</a></li>
      <li><a href="about.html">T&C</a></li>
    </ul>
    <div class="menu-bars" id="toggle">
      <input type="checkbox">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <img class="imglogoss" src="../img/Logos.png" alt="">



  </nav>
  <!--Cuerpo de la pagina__________________________-->


  <section class="container1">
    <h1 class="textoMec">Mecánicas de juego</h1>
    <p class="textoMec">Las personas interesadas en participar <br> en esta promoción obligatoriamente <br> deberán
      cumplir con la mecánica <br> detallada a continuación: </p>
    <img src="../img/Home-logos.png" alt="">

  </section>





  <div class="mecanicasPaso">


    <div class="paso1">
      <div>
        <img id="img-paso1" src="../img/boton_whats.png" alt="">
        <img src="../img/wa.link_ya9fl5.png" alt="">
      </div>
      <div>
        <p>
          <b>Paso 1:</b> <br> Comprar los productos participantes. <br> Enviar un mensaje al número de Whatsapp <br>
          <b>0993300001 <br> ó escanea el codigo QR con tu celular</b>
        </p>
      </div>
    </div>

    <div class="paso2">
      <div>
        <img class="imgPaso" src="../img/Pa-3.PNG" alt="">
      </div>
      <div>
        <p> <b> Paso2: </b> <br> Elige la opción de la marca con la que vas a participar.</p>
      </div>
    </div>

    <div class="paso3">
      <div>
        <img class="imgPaso" src="../img/Pa-5.png" alt="">
      </div>
      <div>
        <p><b>Paso 3:</b> <br> ¡Ingresa el número de lote que aparece en la parte posterior del empaque del producto
          con el que estás participando!</p>
      </div>
    </div>

    <div class="paso4">
      <div>
        <img id="img-paso4" src="../img/loteria.png" alt="">
        <img src="../img/premio.png" alt="">
      </div>
      <div>
        <p> <b>Paso 4:</b> <BR> Puedes ganar una de las 300 Giftcard's ¡con u$S de regalo! <br> Todos los
          participantes participan del sorteo final por el premio mayor de <br> <b> la loteria del sabor </b> </p>
      </div>
    </div>



  </div>

  <!--Cuerpo de la pagina__________________________-->

  <!--Footer____inicio______________________-->
  <footer>
    <H3>Terminos y Condiciones</H3>
    <h4>Todos los derechos reservados. <br> Mondelez Ecuador 2021.</h4>

  </footer>

  <!--Footer_________cierre_________________-->
  <script src="../js/navbar.js"></script>

</body>

</html>