<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mondelez International</title>
  <link rel="stylesheet" href="../Styles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap"
      rel="stylesheet">
  <meta http_equiv="charset" name="charset" content="utf-8">

  <meta name="description" content="Loteria del Sabor">
  <meta property="og:author" content="WeSoda <info@wesoda.com>" />

  <meta name="keywords" content="Technology, Business, Sales, Startups, Enterprises">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KVG7VDJFK0"></script>
  <script>window.dataLayer = window.dataLayer || [];

      function gtag() { dataLayer.push(arguments) };

      gtag('js', new Date());

      gtag('config', 'G-KVG7VDJFK0');</script>

  <meta name="fb:app_id" content="103189435175138">

  <meta name="og:url" content="https://www.loteriadelsabor.com">

  <meta name="og:site_name" content="Loteria del Sabor">

  <meta name="og:type" content="website">

  <meta name="og:title" content="Loteria del Sabor">

  <meta name="og:description" content="Loteria del Sabor">

  <meta name="og:image" content="../img/logo-mondelez-png-mondelez-logo-800">

  <meta name="og:image:type" content="image/png">

  <meta name="og:image:width" content="200">

  <meta name="og:image:height" content="202">
  <meta name="twitter:image" content="/assets/imgs/logo-mondelez-png-mondelez-logo-800.png">
</head>
<body>
  <nav class="navbar">

    <div class="logo">
        <img src="../img/logo-mondelez-png-mondelez-logo-800.png" alt="">
    </div>


    <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="mechanicsOfTheGame.html">Como Participar</a></li>
        <li><a href="awards.html">Premios</a></li>
        <li><a href="winners.html">Ganadores</a></li>
        <li><a href="participatingProducts.html">Productos Participantes</a></li>
        <li><a href="about.html">T&C</a></li>
    </ul>
    <div class="menu-bars" id="toggle">
        <input type="checkbox">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <img class="imglogoss" src="../img/Logos.png" alt="">



</nav>
     <!--Cuerpo de la pagina__________________________-->
 <h1>PRODUCTOS PARTICIPANTES</h1>

    <!--Cuerpo de la pagina__________________________-->

   <!--Footer____inicio______________________-->

   <footer>
    <H3>Terminos y Condiciones</H3>
    <h4>Todos los derechos reservados. <br> Mondelez Ecuador 2021.</h4>
</footer>


<!--Footer_________cierre_________________-->
<script src="../js/navbar.js"></script>

</body>

</html>